<div class="container">
  <mat-form-field class="search-form-field" appearance="outline">
    <mat-label>Rechercher un examen</mat-label>
    <span matPrefix>
      <mat-icon>search</mat-icon>
    </span>
    <input matInput type="text" [(ngModel)]="searchValue" />
    <button
      *ngIf="searchValue"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="searchValue = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <mat-form-field appearance="outline" class="search-category-form">
      <mat-label>Sigle</mat-label>
      <mat-select [formControl]="courseForm" multiple>
        <mat-select-trigger>
          {{ courseForm.value ? courseForm.value[0] : "" }}
          <span *ngIf="courseForm.value?.length > 1">
            (+{{ courseForm.value.length - 1 }}
            {{ courseForm.value?.length === 2 ? "other" : "others" }})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let course of courses" [value]="course">{{
          course
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="search-category-form">
      <mat-label>Année</mat-label>
      <mat-select [formControl]="yearForm" multiple>
        <mat-select-trigger>
          {{ yearForm.value ? yearForm.value[0] : "" }}
          <span *ngIf="yearForm.value?.length > 1">
            (+{{ yearForm.value.length - 1 }}
            {{ yearForm.value?.length === 2 ? "other" : "others" }})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let year of years" [value]="year">{{
          year
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="search-category-form">
      <mat-label>Enseignant</mat-label>
      <mat-select [formControl]="teacherForm" multiple>
        <mat-select-trigger>
          {{ teacherForm.value ? teacherForm.value[0] : "" }}
          <span *ngIf="teacherForm.value?.length > 1">
            (+{{ teacherForm.value.length - 1 }}
            {{ teacherForm.value?.length === 2 ? "other" : "others" }})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let teacher of teachers" [value]="teacher">{{
          teacher
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="search-category-form">
      <mat-label>Attribut</mat-label>
      <mat-select [formControl]="attributeForm" multiple>
        <mat-select-trigger>
          {{ attributeForm.value ? attributeForm.value[0] : "" }}
          <span *ngIf="attributeForm.value?.length > 1">
            (+{{ attributeForm.value.length - 1 }}
            {{ attributeForm.value?.length === 2 ? "other" : "others" }})
          </span>
        </mat-select-trigger>
        <mat-option
          *ngFor="let attribute of attributes"
          [value]="attribute"
          >{{ attribute }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>

  <div class="mat-form-field-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
    <div>139 examens sur 139</div>
    <div>Trier par : année</div>
  </div>

  <div class="course-s">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3,4,5,6,7]">
        <mat-card class="mat-elevation-z4" >
          <mat-card-header>
            <mat-card-title>Final {{num}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="https://www.pbs.org/wnet/nature/files/2011/02/bisesh-gurung-DWZtqyxYU4s-unsplash-scaled-e1616436869634-610x343.jpg">
          <mat-card-content>
            <p>
              INF1132 - 2018
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-mini-fab aria-label="Ajouter l'examen">
              <mat-icon>add</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    </div>
</div>
