#nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.8s;
  background-color: #fff8f2;
  z-index: 999;
  box-sizing: border-box;
  .nav {
    padding-bottom: 1em;

    .logo {
      width: 13vw;
    }

    @media screen and (max-width: 959px) {
      .logo {
        width: 85px;
      }
    }

    .nav-menu {
      width: 45%;
      .link {
        font-size: 1.5vw;
      }
    }

    .mobile-menu {
      nav {
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;

        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
          position: absolute;
          left: 50%;
          top: 170px;
          transition: all 0.3s ease-in-out;
          transform: translateX(-50%);

          li {
            transform: translateY(50px);
            opacity: 0;

            a {
              display: block;
              font-size: 2em;
              text-decoration: none;
              padding: 18px 0;
              text-align: center;
              color: #fff;
              font-weight: bold;
              transition: all 0.2s ease-in-out;
              text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
            }
          }
        }
      }
    }

    .toggle-btn {
      display: block;
      position: fixed;
      z-index: 10;
      right: 30px;
      top: 30px;
      cursor: pointer;

      .bar {
        width: 40px;
        height: 4px;
        margin: 5px auto;
        background-color: #131312;
        transition: all 0.3s ease-in-out;
      }
    }

    #toggle:checked {
      & ~ nav {
        opacity: 1;
        visibility: visible;

        ul {
          top: 70px;

          li {
            transform: translateY(0px);
            opacity: 1;

            @for $i from 1 through 4 {
              $t: $i * 0.1;
              &:nth-child(#{$i}) {
                transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) #{$t}s;
              }
            }
          }
        }
      }

      & + label.toggle-btn {
        .bar {
          background-color: red;

          &:nth-child(2) {
            transform: translateX(50px);
            opacity: 0;
          }

          &:nth-child(1) {
            transform: translateY(10px) rotate(45deg);
          }

          &:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
          }
        }
      }
    }
  }
}

.height-keeper {
  height: 10vw;
}

@media screen and (max-width: 959px) {
  .height-keeper {
    height: 69px;
  }
}
