.container {
  .fifty-split {
    height: 130px;
    .divider {
      background-color: #131312;
      width: 1px;
      height: 90%;
    }
    .left-section {
      text-align: center;
      height: 100%;
      .typing {
        display: inline;
        font-size: 40px;
      }
    }
    .right-section {
      height: 100%;
      .icons {
        width: 100%;
        img {
          width: 75px;
        }
        .mail {
          font-size: 75px;
          width: 75px;
          height: 75px;
        }
      }
    }
  }
  @media screen and (max-width: 959px) {
    .fifty-split {
      height: 175px;
    }
  }
  .blank-separator {
    height: 28px;
  }
  .execs-container {
    .exec-container {
      .exec {
        .exec-presentation {
          font-size: 15px;
          .exec-name {
            text-align: center;
            width: 100%;
          }
          .exec-icons {
            width: 100%;
            margin-top: 20px;
            img {
              width: 35px;
            }
            .mail {
              font-size: 35px;
              width: 35px;
              height: 35px;
            }
          }
        }
        img,
        .exec-presentation {
          width: 50%;
        }
      }
    }
  }
}
